nav {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;

    gap: 5rem;

    height: var(--navbar-height);
    width: 100%;

    padding: 1rem;

    backdrop-filter: blur(10px);
}

.left, .center, .right {
    display: flex;
    gap: 1rem;

    align-items: center;
}

.right {
    justify-self: end;
}
