@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject HubConnection HubConnection

<h3>Uma Events</h3>

<p>@logMessage</p>

<ul>
    @foreach (var e in events)
    {
        <li>@e.CharacterName - @e.EventName</li>
    }
</ul>

@code {
    private string logMessage = "";
    private readonly List<EventDto> events = [];

    protected override async Task OnInitializedAsync()
    {
        // Listen for logs from backend
        HubConnection.On<string>("OnLog", msg =>
        {
            throw new Exception();
            Console.Out.WriteLine(msg);

            logMessage = msg;
            InvokeAsync(StateHasChanged);
        });

        // Listen for events
        HubConnection.On<EventDto>("OnEventFound", e =>
        {
            events.Add(e);
            InvokeAsync(StateHasChanged);
        });

        // Only start if not already started
        if (HubConnection.State == HubConnectionState.Disconnected)
        {
            await HubConnection.StartAsync();
        }
    }


    public class EventDto
    {
        public long Id { get; set; }
        public string CharacterName { get; set; } = "";
        public string EventName { get; set; } = "";
    }
}