@page "/"
@using System.Collections.ObjectModel
@using Microsoft.AspNetCore.SignalR.Client
@using UmaEventReaderV2.Models
@using UmaEventReaderV2.Models.Entities
@inject HubConnection HubConnection

<h3>UmaEventReader Dashboard</h3>

<div class="dashboard-container">
    <div class="events-panel">
        <h4>Events (@events.Count)</h4>
        @foreach (var e in events)
        {
            <EventDisplay Event="e"/>
        }
    </div>

    <div class="logs-panel">
        <LogsDisplay Logs="logMessages"/>
    </div>
</div>

@code {
    private ObservableCollection<string> logMessages = new();
    private ObservableCollection<UmaEventEntity> events = new();

    protected override async Task OnInitializedAsync()
    {
        HubConnection.On<string>("OnLog", msg =>
        {
            logMessages.Add(msg);
            InvokeAsync(StateHasChanged);
        });

        HubConnection.On<EventBatch>("OnEventFound", batch =>
        {
            events.Clear();

            foreach (var e in batch.Events)
                events.Add(e);

            InvokeAsync(StateHasChanged);
        });

        if (HubConnection.State == HubConnectionState.Disconnected)
        {
            await HubConnection.StartAsync();
        }
    }
}