@using System.Collections.ObjectModel
<div>
    @foreach (var log in Logs.Reverse())
    {
        <div class="logs-container">@log</div>
    }
</div>

@code {
    [Parameter] public ObservableCollection<string> Logs { get; set; } = new();
}